.page {
  border: 1px solid red;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.link {
  color: #2f80ed;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  color: red;
  text-decoration: underline;
}


.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

/* header-block styles */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}
.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  height: 100px;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
}
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
}

/* styles of discription-block */
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.two-columns_place_description {
  margin: 100px auto;
}
.two-columns__bref {
  width: 175px;
  margin: 0;
  color: #2f80ed;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}
.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
}
.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}
.two-columns__span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

/* styles of digits-block */
.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.section-title {
  width: 60%;
  margin: 0;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.15;
  text-align: center;
}
.section-title_place_digits {
  margin-bottom: 20px;
}
.section-subtitle {
  width: 60%;
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
}
.table__text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}
.table__text:not(:last-child) {
  margin-bottom: 20px;
}


.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
